<div id="{dialog_name}" title="{title}" class="fileexists">
	<table>
		<th><input id="checkbox-allexistingfiles" class="allexistingfiles checkbox" type="checkbox" /><label for="checkbox-allexistingfiles">{allexistingfiles}<span class="count"></span></label></th>
		<th><input id="checkbox-allnewfiles" class="allnewfiles checkbox" type="checkbox" checked /><label for="checkbox-allnewfiles">{allnewfiles}<span class="count"></span></label></th>
	</table>
	<div class="conflicts-show">{details}</div>
	<div class="conflicts">
		<div class="template">
			<div class="filename"></div>
			<div class="original">
				<input type="checkbox" class="checkbox u-left" />
				<label>
				<span class="svg icon"></span>
				<div class="mtime"></div>
				<div class="size"></div>
				<div class="message"></div>
				</label>
			</div>
			<div class="replacement">
				<input type="checkbox" class="checkbox u-left"/>
				<label>
				<span class="svg icon"></span>
				<div class="mtime"></div>
				<div class="size"></div>
				</label>
			</div>
		</div>
	</div>
</div>
